<%= form_for @list do |f| %>

  <% if @list.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@list.errors.count, "error") %> prohibited
        this list from being saved:
      </h2>
      <ul>
        <% @list.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
  <%= f.label :fromAddress %><br>
  <%= f.text_field :fromAddress %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :website %><br>
    <%= f.text_area :website %>
  </p>
  <p>
    <%= f.submit %>
  </p>
  <p>
    <button><%=link_to "Back", root_path%> </button> 
<% end %>
