  <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
      <% @lists.each do |list| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= link_to list.name,list_path(list)%> - <small><%= list.description %></small><%= link_to "open_in_browser", list.website, class: "material-icons pull-right"%></h3>
        </div>
        <div class="panel-body">
          <% list.posts.each do |post| %>
          <div class="panel panel-default">
            <div class="panel-body">
              <p><%= link_to post.subject, list_post_path(list, post), class: "text-muted"%><%= link_to 'Delete Post', list_post_path(list, post),method: :delete, class: "btn btn-xs btn-danger pull-right"%></p>
              <em><small>Created <%= post.created_at.strftime('%B %d, %Y') %></small></em>
            </div>
          </div>
          <%end%>
          <div class="btn-group btn-group-sm">
            <%= link_to 'edit', edit_list_path(list), class: "material-icons" %>
            <%= link_to 'delete', list_path(list), method: :delete, class: "material-icons" %>
          </div> <!-- button group-->
        </div>
      </div><!-- panel panel-primary-->
      <% end %>
    </div><!-- col-sm-10 col-sm-offset-2-->
  </div>
